<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>XeKhach</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DangKyServlet</display-name>
    <servlet-name>DangKyServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DangKyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyServlet</servlet-name>
    <url-pattern>/DangKyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemTuyenDuongServlet</display-name>
    <servlet-name>ThemTuyenDuongServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThemTuyenDuongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemTuyenDuongServlet</servlet-name>
    <url-pattern>/ThemTuyenDuongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhapServlet</display-name>
    <servlet-name>DangNhapServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapServlet</servlet-name>
    <url-pattern>/DangNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachChuyenServlet</display-name>
    <servlet-name>DanhSachChuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DanhSachChuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachChuyenServlet</servlet-name>
    <url-pattern>/DanhSachChuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KiemTraDangKyServlet</display-name>
    <servlet-name>KiemTraDangKyServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.KiemTraDangKyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KiemTraDangKyServlet</servlet-name>
    <url-pattern>/KiemTraDangKyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongKeTheoTuyenServlet</display-name>
    <servlet-name>ThongKeTheoTuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThongKeTheoTuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongKeTheoTuyenServlet</servlet-name>
    <url-pattern>/ThongKeTheoTuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongKeTheoThangServlet</display-name>
    <servlet-name>ThongKeTheoThangServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThongKeTheoThangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongKeTheoThangServlet</servlet-name>
    <url-pattern>/ThongKeTheoThangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaoCaoServlet</display-name>
    <servlet-name>BaoCaoServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.BaoCaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoCaoServlet</servlet-name>
    <url-pattern>/BaoCaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatVeServlet</display-name>
    <servlet-name>DatVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DatVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatVeServlet</servlet-name>
    <url-pattern>/DatVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themGiaVe</display-name>
    <servlet-name>themGiaVe</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.themGiaVe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themGiaVe</servlet-name>
    <url-pattern>/themGiaVe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemGiaVeServlet</display-name>
    <servlet-name>ThemGiaVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThemGiaVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemGiaVeServlet</servlet-name>
    <url-pattern>/ThemGiaVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachGiaVeServlet</display-name>
    <servlet-name>DanhSachGiaVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DanhSachGiaVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachGiaVeServlet</servlet-name>
    <url-pattern>/DanhSachGiaVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapnhatGiaVeServlet</display-name>
    <servlet-name>CapnhatGiaVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.CapnhatGiaVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapnhatGiaVeServlet</servlet-name>
    <url-pattern>/CapnhatGiaVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapnhatGiaVeServlet_1</display-name>
    <servlet-name>CapnhatGiaVeServlet_1</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.CapnhatGiaVeServlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapnhatGiaVeServlet_1</servlet-name>
    <url-pattern>/CapnhatGiaVeServlet_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaGiaVeServlet</display-name>
    <servlet-name>XoaGiaVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.XoaGiaVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaGiaVeServlet</servlet-name>
    <url-pattern>/XoaGiaVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemGiaVeServlet_1</display-name>
    <servlet-name>ThemGiaVeServlet_1</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThemGiaVeServlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemGiaVeServlet_1</servlet-name>
    <url-pattern>/ThemGiaVeServlet_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhsachtuyenServlet</display-name>
    <servlet-name>DanhsachtuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DanhsachtuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhsachtuyenServlet</servlet-name>
    <url-pattern>/DanhsachtuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemtuyenServlet</display-name>
    <servlet-name>ThemtuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThemtuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemtuyenServlet</servlet-name>
    <url-pattern>/ThemtuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapnhattuyenServlet</display-name>
    <servlet-name>CapnhattuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.CapnhattuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapnhattuyenServlet</servlet-name>
    <url-pattern>/CapnhattuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XulycapnhattuyenServlet</display-name>
    <servlet-name>XulycapnhattuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.XulycapnhattuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XulycapnhattuyenServlet</servlet-name>
    <url-pattern>/XulycapnhattuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoatuyenServlet</display-name>
    <servlet-name>XoatuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.XoatuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoatuyenServlet</servlet-name>
    <url-pattern>/XoatuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachNhanVienServlet</display-name>
    <servlet-name>DanhSachNhanVienServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DanhSachNhanVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachNhanVienServlet</servlet-name>
    <url-pattern>/DanhSachNhanVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimKiemNhanVienServlet</display-name>
    <servlet-name>TimKiemNhanVienServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.TimKiemNhanVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimKiemNhanVienServlet</servlet-name>
    <url-pattern>/TimKiemNhanVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemNhanVienServlet</display-name>
    <servlet-name>ThemNhanVienServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThemNhanVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemNhanVienServlet</servlet-name>
    <url-pattern>/ThemNhanVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimKiemCapNhatServlet</display-name>
    <servlet-name>TimKiemCapNhatServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.TimKiemCapNhatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimKiemCapNhatServlet</servlet-name>
    <url-pattern>/TimKiemCapNhatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimKiemCapNhatNhanVien</display-name>
    <servlet-name>TimKiemCapNhatNhanVien</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.TimKiemCapNhatNhanVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimKiemCapNhatNhanVien</servlet-name>
    <url-pattern>/TimKiemCapNhatNhanVien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimKiemCapNhatNhanVienServlet</display-name>
    <servlet-name>TimKiemCapNhatNhanVienServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.TimKiemCapNhatNhanVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimKiemCapNhatNhanVienServlet</servlet-name>
    <url-pattern>/TimKiemCapNhatNhanVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatNhanVienServlet</display-name>
    <servlet-name>CapNhatNhanVienServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.CapNhatNhanVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatNhanVienServlet</servlet-name>
    <url-pattern>/CapNhatNhanVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaNhanVienServlet</display-name>
    <servlet-name>XoaNhanVienServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.XoaNhanVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaNhanVienServlet</servlet-name>
    <url-pattern>/XoaNhanVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoanTatDatVeServlet</display-name>
    <servlet-name>HoanTatDatVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.HoanTatDatVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoanTatDatVeServlet</servlet-name>
    <url-pattern>/HoanTatDatVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/DangXuatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatXeServlet</display-name>
    <servlet-name>CapNhatXeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.CapNhatXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatXeServlet</servlet-name>
    <url-pattern>/CapNhatXeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachXeServlet</display-name>
    <servlet-name>DanhSachXeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DanhSachXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachXeServlet</servlet-name>
    <url-pattern>/DanhSachXeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemXeServlet</display-name>
    <servlet-name>ThemXeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThemXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemXeServlet</servlet-name>
    <url-pattern>/ThemXeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaXeServlet</display-name>
    <servlet-name>XoaXeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.XoaXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaXeServlet</servlet-name>
    <url-pattern>/XoaXeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanlyveServlet</display-name>
    <servlet-name>QuanlyveServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.QuanlyveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanlyveServlet</servlet-name>
    <url-pattern>/QuanlyveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietVeServlet</display-name>
    <servlet-name>ChiTietVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ChiTietVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietVeServlet</servlet-name>
    <url-pattern>/ChiTietVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaVeServlet</display-name>
    <servlet-name>XoaVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.XoaVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaVeServlet</servlet-name>
    <url-pattern>/XoaVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaveServlet</display-name>
    <servlet-name>XoaveServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.XoaVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaveServlet</servlet-name>
    <url-pattern>/XoaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuyVeServlet</display-name>
    <servlet-name>HuyVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.HuyVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuyVeServlet</servlet-name>
    <url-pattern>/HuyVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrangChuServlet</display-name>
    <servlet-name>TrangChuServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.TrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuServlet</servlet-name>
    <url-pattern>/TrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimKiemVeXeServlet</display-name>
    <servlet-name>TimKiemVeXeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.TimKiemVeXeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimKiemVeXeServlet</servlet-name>
    <url-pattern>/TimKiemVeXeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongTinTaiKhoanServlet</display-name>
    <servlet-name>ThongTinTaiKhoanServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThongTinTaiKhoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongTinTaiKhoanServlet</servlet-name>
    <url-pattern>/ThongTinTaiKhoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapnhatThongTinServlet</display-name>
    <servlet-name>CapnhatThongTinServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.CapnhatThongTinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapnhatThongTinServlet</servlet-name>
    <url-pattern>/CapnhatThongTinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachVeDuocDatServlet</display-name>
    <servlet-name>DanhSachVeDuocDatServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.DanhSachVeDuocDatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachVeDuocDatServlet</servlet-name>
    <url-pattern>/DanhSachVeDuocDatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChapNhanVeServlet</display-name>
    <servlet-name>ChapNhanVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ChapNhanVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChapNhanVeServlet</servlet-name>
    <url-pattern>/ChapNhanVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadGheNgoiServlet</display-name>
    <servlet-name>LoadGheNgoiServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.LoadGheNgoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadGheNgoiServlet</servlet-name>
    <url-pattern>/LoadGheNgoiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChitietVeServlet</display-name>
    <servlet-name>ChitietVeServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ChitietVeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChitietVeServlet</servlet-name>
    <url-pattern>/ChitietVeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietVeAdminServlet</display-name>
    <servlet-name>ChiTietVeAdminServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ChiTietVeAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietVeAdminServlet</servlet-name>
    <url-pattern>/ChiTietVeAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietChuyenServlet</display-name>
    <servlet-name>ChiTietChuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ChiTietChuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietChuyenServlet</servlet-name>
    <url-pattern>/ChiTietChuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatChuyenServlet</display-name>
    <servlet-name>CapNhatChuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.CapNhatChuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatChuyenServlet</servlet-name>
    <url-pattern>/CapNhatChuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemChuyenServlet</display-name>
    <servlet-name>ThemChuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.ThemChuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemChuyenServlet</servlet-name>
    <url-pattern>/ThemChuyenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaThongTinTaiKhoanServlet</display-name>
    <servlet-name>SuaThongTinTaiKhoanServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.SuaThongTinTaiKhoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaThongTinTaiKhoanServlet</servlet-name>
    <url-pattern>/SuaThongTinTaiKhoanServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>XoaChuyenServlet</display-name>
    <servlet-name>XoaChuyenServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.XoaChuyenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaChuyenServlet</servlet-name>
    <url-pattern>/XoaChuyenServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>KiemTraCapNhatServlet</display-name>
    <servlet-name>KiemTraCapNhatServlet</servlet-name>
    <servlet-class>fpt.fsdn.svtt1213.controller.KiemTraCapNhatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KiemTraCapNhatServlet</servlet-name>
    <url-pattern>/KiemTraCapNhatServlet</url-pattern>
  </servlet-mapping>
</web-app>